<%= form_with(model: [@project, problem]) do |form| %>

  <%= render partial: 'shared/form_errors', locals: { resource: problem } %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
