<div class="flex flex-row items-center justify-between mb-10">
  <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl mr-6">Organisations</h1>

  <%= link_to new_organisation_path, class: "inline-block border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:shadow-outline flex flex-row items-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1 inline-block">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg><span>Add new organisation</span>
  <% end %>
</div>

<table class="w-full sm:w-10/12 table-fixed bg-white border-collapse">
  <thead>
    <tr>
      <th class="bg-indigo-100 border text-left px-8 py-4">Name</th>
      <th class="bg-indigo-100 border text-left px-8 py-4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <tr class="hover:bg-gray-50 focus:bg-gray-300 active:bg-red-200"
    tabindex="0">
        <td class="w-4/12 border px-8 py-4"><%= organisation.name %></td>
        <td class="w-8/12 border px-8 py-4">
          <%= link_to "View", organisation, class: "mr-2 cursor-pointer px-2 py-1 rounded bg-indigo-100 text-indigo-800 hover:bg-indigo-200 inline-block" %>
          <%= link_to "Edit", edit_organisation_path(organisation), class: "mr-2 cursor-pointer px-2 py-1 rounded bg-orange-100 text-orange-800 hover:bg-orange-200 inline-block" %>
          <%= button_to organisation, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, form_class: "inline-block", class: "inline-block mr-2 cursor-pointer px-2 py-1 rounded bg-red-100 text-red-800 hover:bg-red-200" do %>
            <span>✖ Delete</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
