<h1 class="opacity-20 text-2xl sm:text-3xl md:text-4xl lg:text-5xl mr-6 mb-6"><%= @organisation.name %></h1>

<div class="flex flex-row items-center justify-between mb-10">
  <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">Organisation overview</h2>

  <%= link_to edit_organisation_path(@organisation), class: "inline-block border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:shadow-outline flex flex-row items-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
    </svg>
    <span>Edit details</span>
  <% end %>
</div>

<div>
  <h3 class="text-lg sm:text-xl md:text-2xl lg:text-3xl mb-6">User accounts</h3>

  <div class="overflow-auto relative">
    <table class="w-full sm:w-10/12 table-auto bg-white border-collapse">
      <thead>
        <tr>
          <th class="bg-indigo-100 border text-left px-8 py-4">Email</th>
          <th class="bg-indigo-100 border text-left px-8 py-4">Role</th>
          <th class="bg-indigo-100 border text-left px-8 py-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for assignment in @assignments %>
          <tr class="hover:bg-gray-50 focus:bg-gray-100"
        tabindex="0">
            <td class="border px-8 py-4"><%= assignment.user.email %></td>
            <td class="border px-8 py-4"><%= t("roles.#{assignment.role}") %></td>
            <td class="border px-8 py-4">
              <%= button_to assignment_path(assignment), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to remove #{assignment.user.email} from your organisation?" } }, form_class: "inline-block", class: "inline-block mr-2 cursor-pointer px-2 py-1 rounded bg-red-100 text-red-800 hover:bg-red-200" do %>
                <span>✖ Remove</span>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if @assignments.blank? %>
          <tr><td colspan="3" class="bg-gray-50 w-full py-6 px-8"><em>No user accounts found</em></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr class="my-8"/>

<div class="mb-12">
  <h3 class="text-lg sm:text-xl md:text-2xl lg:text-3xl mb-6">Projects</h3>
  <% if @organisation.projects.blank? %><p class="mb-3"><em>No projects found for this organisation</em></p><% end %>

  <div class="mb-6">
    <% for project in @organisation.projects %>
      <p class="mb-3"><%= link_to project.name, [@organisation, project], class: "mr-2 cursor-pointer text-indigo-800 hover:underline" %></p>
    <% end %>
  </div>

  <%= link_to "Start a new project", new_organisation_project_path(@organisation), class: "px-2 py-1 rounded cursor-pointer bg-emerald-100 text-emerald-900 hover:bg-emerald-800 hover:text-white" %>
</div>

<hr class="my-8"/>

<div>
  <%= link_to "Back to organisations", organisations_path, class: "mr-2 cursor-pointer text-indigo-800 hover:underline" %>
</div>
