<h1 class="my-6">Theme</h1>
<p class="my-6">Theming test for EBN Lab platform</p>

<div class="p-8">
  <h1 class="font-caprasimo text-4xl sm:text-5xl md:text-6xl lg:text-7xl mb-6">Hero text</h1>
  <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-6xl mb-6">Heading 1</h1>
  <h2 class="text-3xl sm:text-4xl md:text-5xl mb-6">Heading 2</h2>
  <h3 class="text-2xl sm:text-3xl md:text-4xl mb-6">Heading 3</h3>
  <p class="text-lg mb-6">Large text which is what I need. I need a computer said johnny.</p>
  <p class="base-text mb-6">Base text, and stuff. I need a computer said johnny.</p>

  <hr class="my-6" />

  <h2 class="text-3xl mb-6">Colours</h2>
  <p>Indigo, Orange, Emerald</p>
  <div class="px-1 inline-block w-20 h-12 bg-indigo-600"></div>
  <div class="px-1 inline-block w-20 h-12 bg-orange-600"></div>
  <div class="px-1 inline-block w-20 h-12 bg-emerald-600"></div>


  <hr class=" my-6" />

  <h2 class="text-3xl mb-6">Buttons</h2>
    <p>Large</p>
    <div class="grid grid-cols-4 gap-8">
      <%= link_to "#", class: "inline-block w-content border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline flex flex-row items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg><span>Add new organisation</span>
      <% end %>
    </div>

    <br/>

    <p>Small</p>
    <%= link_to "View", "#", class: "px-2 py-1 rounded cursor-pointer bg-emerald-100 text-emerald-900" %>
  </div>


  <hr class=" my-6" />
  <h2 class="text-3xl mb-6">Inputs</h2>

  <fieldset class="relative grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div class="inline-block">
      <%= label_tag :location, "Location", class: "text-base block mb-1" %>
      <%= text_field_tag :location, params[:location], autocomplete: "off", class: "focus:shadow focus:shadow-teal-dark focus:ring-0 focus:border-teal-dark border-gray-300 text-lg rounded-md w-full px-4 py-3" %>
    </div>

    <div class="inline-block">
      <%= label_tag :colour, "Colour", class: "text-base block mb-1" %>
      <%= text_field_tag :colour, params[:colour], autocomplete: "off", class: "focus:shadow focus:shadow-teal-dark focus:ring-0 focus:border-teal-dark border-gray-300 text-lg rounded-md w-full px-4 py-3" %>
    </div>
  </fieldset>

  <hr class=" my-6" />
  <h2 class="text-3xl mb-6">Inputs</h2>

  <div class="px-8 py-8">
    <div data-desc="the-dl-button" class="rounded text-center bg-teal-800 text-white text-lg flex flex-nowrap flex-row items-center justify-around w-36 h-12 content-center">
      <%= button_to 'Download', '#', form_class: 'h-full w-8/12 flex', class: "hover:text-txtealdark hover:bg-teal-800 w-full" %>
      <%= button_to 'Option', form_class: 'border-l border-black border-opacity-10 h-full w-3/12 flex', class: "hover:bg-teal-800 h-full w-full rounded-md text-white" do %>
          <svg class="hover:text-txtealdark" viewBox="0 0 24 24">
          <path d="M24 24H0V0h24v24z" fill="none"></path>
          <path fill="currentColor" d="M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
        </svg>
      <% end %>
    </div>
  </div>
</div>

