<h1 class="my-6">Theme</h1>
<p class="my-6">Theming test for EBN Lab platform</p>

<div class="p-8">
  <h1 class="font-caprasimo text-4xl sm:text-5xl md:text-6xl lg:text-7xl mb-6">Hero text</h1>
  <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-6xl mb-6">Heading 1</h1>
  <h2 class="text-3xl sm:text-4xl md:text-5xl mb-6">Heading 2</h2>
  <h3 class="text-2xl sm:text-3xl md:text-4xl mb-6">Heading 3</h3>
  <p class="text-lg mb-6">Large text which is what I need. I need a computer said johnny.</p>
  <p class="base-text mb-6">Base text, and stuff. I need a computer said johnny.</p>

  <hr class=" my-6" />

  <h2 class="text-3xl mb-6">Colours</h2>

  <div id="bg-colours" class="mb-3">
    <div class="px-1 inline-block w-20 h-12 bg-red-600">red-600</div>
    <div class="px-1 inline-block w-20 h-12 bg-orange-600">orange-600</div>
    <div class="px-1 inline-block w-20 h-12 bg-yellow-600" >yellow-600</div>
    <div class="px-1 inline-block w-20 h-12 bg-teal-600" >teal</div>
    <div class="px-1 inline-block w-20 h-12 bg-teal-800" >dark-teal</div>
    <div class="px-1 inline-block w-20 h-12 border bg-amber-50">amber-50</div>
  </div>

  <div class="mb-3 text-white">
    <div class="px-1 inline-block w-20 h-12 bg-red-600">red-600</div>
    <div class="px-1 inline-block w-20 h-12 bg-orange-600" >orange-600</div>
    <div class="px-1 inline-block w-20 h-12 bg-yellow-600" >yellow-600</div>
    <div class="px-1 inline-block w-20 h-12 bg-teal-600" >teal</div>
    <div class="px-1 inline-block w-20 h-12 bg-teal-800" >dark-teal</div>
    <div class="px-1 inline-block w-20 h-12 border bg-amber-50">amber-50</div>
  </div>

  <div id="text-colours" class="mb-3 ">
    <div class="px-1 inline-block w-20 h-12 text-gray-900">gray</div>
    <div class="px-1 inline-block w-20 h-12 text-red-600">red-600</div>
    <div class="px-1 inline-block w-20 h-12 text-orange-600" >orange-600</div>
    <div class="px-1 inline-block w-20 h-12 text-yellow-600" >yellow-600</div>
    <div class="px-1 inline-block w-20 h-12 text-teal-900" >teal</div>
    <div class="px-1 inline-block w-20 h-12 bg-gray-900 text-amber-50 border">amber-50</div>
    <div class="px-1 inline-block w-20 h-12 bg-gray-900 text-white border">white</div><br/>
    <div class="px-1 inline-block w-20 h-12 text-teal-900">txteal</div>
  </div>

  <hr class=" my-6" />

  <h2 class="text-3xl mb-6">Buttons</h2>

  <div class="grid grid-cols-2">
    <div class="">
      <%= button_to 'Small button', '#',  class: "mb-6 rounded-md py-1 px-2 bg-yellow-600 text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600" %>
      <%= button_to 'Medium button', '#', class: "mb-6 rounded-md py-3 px-3 bg-teal text-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600" %>
      <%= button_to 'Large button', '#',  class: "mb-6 rounded-md py-3 px-6 bg-orange-600 text-xl font-bold focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600" %>
    </div>

    <div class="">
      <%= button_to 'Small button', '#',  class: "mb-6 rounded-md py-1 px-2 text-base bg-red-600 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600" %>
      <%= button_to 'Large button', '#',  class: "mb-6 rounded-md py-3 px-6 text-xl bg-teal-800 text-white font-bold focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600" %>
      <%= button_to 'Medium button', '#', class: "mb-6 rounded-md py-3 px-3 text-lg bg-orange-600 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600" %>
    </div>
  </div>

  <hr class=" my-6" />
  <h2 class="text-3xl mb-6">Inputs</h2>

  <fieldset class="relative grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div class="inline-block">
      <%= label_tag :location, "Location", class: "text-base block mb-1" %>
      <%= text_field_tag :location, params[:location], autocomplete: "off", class: "focus:shadow focus:shadow-teal-dark focus:ring-0 focus:border-teal-dark border-gray-300 text-lg rounded-md w-full px-4 py-3" %>
    </div>

    <div class="inline-block">
      <%= label_tag :colour, "Colour", class: "text-base block mb-1" %>
      <%= text_field_tag :colour, params[:colour], autocomplete: "off", class: "focus:shadow focus:shadow-teal-dark focus:ring-0 focus:border-teal-dark border-gray-300 text-lg rounded-md w-full px-4 py-3" %>
    </div>
  </fieldset>

  <hr class=" my-6" />
  <h2 class="text-3xl mb-6">Inputs</h2>

  <div class="px-8 py-8">
    <div data-desc="the-dl-button" class="rounded text-center bg-teal-800 text-white text-lg flex flex-nowrap flex-row items-center justify-around w-36 h-12 content-center">
      <%= button_to 'Download', '#', form_class: 'h-full w-8/12 flex', class: "hover:text-txtealdark hover:bg-teal-800 w-full" %>
      <%= button_to 'Option', form_class: 'border-l border-black border-opacity-10 h-full w-3/12 flex', class: "hover:bg-teal-800 h-full w-full rounded-md text-white" do %>
          <svg class="hover:text-txtealdark" viewBox="0 0 24 24">
          <path d="M24 24H0V0h24v24z" fill="none"></path>
          <path fill="currentColor" d="M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"></path>
        </svg>
      <% end %>
    </div>
  </div>
</div>

