<%= form_with(model: [@organisation, project]) do |form| %>

  <%= render partial: 'shared/form_errors', locals: { resource: project } %>

  <div class="mb-8">
    <div class="">
      <%= form.label :name, class: "block font-bold py-2" %>
      <%= form.text_field :name, class: "mb-6 px-4 py-3 w-full border border-indigo-200 rounded-md ring-0 ring-offset-1 outline-0 outline-none ring-indigo-200 focus:ring-1 focus:border-indigo-600" %>
    </div>

    <div>
      <%= form.label :scope_description, class: "block font-bold py-2" %>
      <%= form.text_area :scope_description, class: "mb-6 px-4 py-3 w-full border border-indigo-200 rounded-md ring-0 ring-offset-1 outline-0 outline-none ring-indigo-200 focus:ring-1 focus:border-indigo-600" %>
    </div>
  </div>

  <div>
    <%= form.submit "Save project", class: "cursor-pointer inline-block border border-emerald-600 bg-emerald-600 text-white rounded-md px-4 py-2 transition duration-500 ease select-none hover:bg-emerald-700 focus:shadow-outline" %>
  </div>
<% end %>
